<template name="modalRef" style="width 100%">
<style>

td {
	padding-right: 1.4em !important;
}
</style>
<table>
  <tr>
    <td><strong>Verified:</strong></td>
    <td>A YES or NO, to signify whether or not the restaurant has claimed their spot on the table to publish additional information of their choosing</td> 
  </tr>
  <tr><td> </td></tr>
  <tr>
   	<td><strong>Houston Chronicle Ranking:</strong></td>
  	<td>A ranking of the top 100 Houston Restaurants for 2015 done by the Houston Chronicle. The best restaurant is ranked #1.</td>
  </tr>
  <tr><td> </td></tr>
  <tr>
    <td><strong>Trip Advisor Ranking:</strong></td>
    <td>Ranking of all ~7,000 restaurants in Houston from TripAdvisor.com. The best restaurant is ranked #1</td> 
  </tr>
  <tr><td> </td></tr>
  <tr>
  	<td><strong>Yelp Rating:</strong></td>
  	<td>A star rating out of 5 from Yelp.com. Yelp rates in increments of 0.5</td>
   </tr>
   <tr><td> </td></tr>
   <tr>
    <td><strong>Number of Yelp Reviews:</strong></td>
    <td>The number of reviews on Yelp.com that go into averaging the composite Yelp Rating.</td> 
   </tr>
   <tr><td> </td></tr>
	  <tr>
  <td><strong>Facebook Rating:</strong></td>
  <td>A star rating out of 5 from Facebook.com. Facebook rates in increments of 0.1.</td>
</tr>
<tr><td> </td></tr>
	  <tr>
  <td><strong>Facebook Likes:</strong></td>
  <td>The number of times people have 'liked' a restaurant's Facebook page.</td>
</tr>
<tr><td> </td></tr>
	  <tr>
  <td><strong>UrbanSpoon Rating:</strong></td>
  <td>A percentage rating from UrbanSpoon.com. 100 is the highest rating a restaurant can receive, 1 is the lowest</td>
</tr>
<tr><td> </td></tr>
	  <tr>
  <td><strong>Zagat Price:</strong></td>
  <td>The average dollar amount per person spent on a meal at a restaurant</td>
</tr>
<tr><td> </td></tr>
	  <tr>
  <td><strong>Zagat Food, Decor, Service:</strong></td>
  <td>A numerical rating out of 30 from the reputable Zagat guide. 30 is the highest score awarded.</td>
</tr>
<tr><td> </td></tr>
 

</table>
</template>

