<template name="modalIntro">
	<form>
	<p class="modalp">We compiled all the review sites, social media pages and magazine reviews into one great resource. </p>
		
		<br>
<p class="modalp">We made this for ourselves, to help find the best places to eat in Houston, and figured it would be fun to share with friends.</p>
	<br>
	<p class="modalp">If you would like to contribute to the project, or simply get occasional updates on new restaurants and features, leave your email below!</p>
	
    
        
        <div class="modaluseremail">
            <input name="useremail" id="useremail" type="text" value="" placeholder="iLove.Houston@delicious.com" class="form-control"/>
        </div>
     
     <br>
	<br>
	<p class="modalp2">We would also like to give restaurants an opportunity to post specials, deals or updates. If you own or manage a restaurant and would like to verify your place on the list and send something to our readers, we would love to hear from you!</p>
    <div class="modaluseremail">
        <input name="restemail" id="restemail" type="text" value="" placeholder="myRestaurant@houston.com" class="form-control"/>
    </div>
</form>

</template>

