<template name="modalIntro">
	<form>
		<br>
	<p class="modalp">We compiled all the review sites, social media pages and magazine reviews into one great resource. </p>
		<br>
		
<p class="modalp">We made this for ourselves, to help find the best places to eat in Houston, and figured it would be fun to share with friends.</p>
	<br>
	<p class="modalp">If you would like to contribute to the project, or simply get occasional updates on new restaurants and features, leave your email below!</p>
	
    <br>
        
        <div class="controls">
            <input name="email" id="email" type="text" value="" placeholder="iLove.Houston@delicious.com" class="form-control"/>
        </div>
	<br>
   	<br>

</form>
</template>

