<template name="aboutPage">
	<div class="grid grid-module">
		<h2>Why we made Houstaurants</h2>
		<br>
		<p>Because we were tired of reading through Yelp reviews, wondering if they were true. Because we were tired of relying on some singular restaurant critic. Because we were tired of sifting through all this information to find the best places to eat in Houston.</p>
		<br>
		<p>The best restaurants in Houston know that their customers love them, but more importantly they know why they love them. So when you're looking for a new restaurant to try out, don't you want to hear from the chef what dishes are best? Or that their special vegetable-side is currently in season? That is the type of information service Houstaurants brings</p>
	</div>
</template>