<template name="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid" data-spy="affix">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'restsList'}}"><img style="height:auto; width:auto; max-width:230px; max-height:230px;" src="/images/houstaurants_logo.png"/></a>
			</div>
			<div class="collapse navbar-collapse" id="navigation">
				<ul class="nav navbar-nav navbar-right">
					{{> loginButtons}}
				</ul>
			</div>
		</div>
	</nav>
</template>

